<div
  class="lg:translate-y-[-140px] md:translate-y-0 translate-y-[-140px] lg:mb-0 md:mb-24"
  #frameContact
>
  <!-- <div class="text-center font-bold">
        <p class="text-[#0C8CE9] text-sm">TRUSTED BY HUNDREDS</p>
        <p class="text-[32px] sm:px-0 px-12">What do they say about us?</p>
    </div> -->

  <!-- <section class="container mx-auto blur-effect relative flex justify-center items-center gap-6 mt-8">
         
        <div class="col1 flex flex-col items-center text-[#696E72] gap-7 sm:mx-0 mx-5">
            <div class="box md:w-[362px] bg-[#F7F9FB] p-5">
                <div class="flex gap-3">
                    <div class="bg-[#DBE6F0] w-[50px] h-[50px] rounded">
                    </div>
                    <div>
                        <p class="title">John Smith</p>
                        <p class="subtitle text-[#BDC8D0]">CEO Company</p>
                    </div>
                </div>
                <p class="mt-4">
                    End-to-end blockchain solutions, encompassing consultation, design, and implementation.
                </p>
            </div>
            <div class="box md:w-[362px] bg-[#F7F9FB] p-5">
                <div class="flex gap-3">
                    <div class="bg-[#DBE6F0] w-[50px] h-[50px] rounded">
                    </div>
                    <div>
                        <p class="title">John Smith</p>
                        <p class="subtitle text-[#BDC8D0]">CEO Company</p>
                    </div>
                </div>
                <p class="mt-4">
                    End-to-end blockchain solutions, encompassing consultation, design, and implementation.
                </p>
            </div>
            <div class="box md:w-[362px] bg-[#F7F9FB] p-5">
                <div class="flex gap-3">
                    <div class="bg-[#DBE6F0] w-[50px] h-[50px] rounded">
                    </div>
                    <div>
                        <p class="title">John Smith</p>
                        <p class="subtitle text-[#BDC8D0]">CEO Company</p>
                    </div>
                </div>
                <p class="mt-4">
                    End-to-end blockchain solutions, encompassing consultation, design, and implementation.
                </p>
            </div>
        </div>
    
     
    
        <div class="col2 flex-col text-[#696E72] gap-7 md:flex hidden">
            <div class="box w-[362px] bg-[#F7F9FB] p-5 xl:pb-12 xl:mt-7">
                <div class="flex gap-3">
                    <div class="bg-[#DBE6F0] w-[50px] h-[50px] rounded">
                    </div>
                    <div>
                        <p class="title">John Smith</p>
                        <p class="subtitle text-[#BDC8D0]">CEO Company</p>
                    </div>
                </div>
                <p class="mt-4">
                    End-to-end blockchain solutions, encompassing consultation, design, and implementation.
                </p>
            </div>
            <div class="box w-[362px] bg-[#F7F9FB] p-5">
                <div class="flex gap-3">
                    <div class="bg-[#DBE6F0] w-[50px] h-[50px] rounded">
                    </div>
                    <div>
                        <p class="title">John Smith</p>
                        <p class="subtitle text-[#BDC8D0]">CEO Company</p>
                    </div>
                </div>
                <p class="mt-4">
                    End-to-end blockchain solutions, encompassing consultation, design, and implementation.
                </p>
            </div>
            <div class="box w-[362px] bg-[#F7F9FB] p-5">
                <div class="flex gap-3">
                    <div class="bg-[#DBE6F0] w-[50px] h-[50px] rounded">
                    </div>
                    <div>
                        <p class="title">John Smith</p>
                        <p class="subtitle text-[#BDC8D0]">CEO Company</p>
                    </div>
                </div>
                <p class="mt-4">
                    End-to-end blockchain solutions, encompassing consultation, design, and implementation.
                </p>
            </div>
        </div>
    
      
    
        <div class="col3 flex-col gap-7 text-[#696E72] xl:flex hidden">
            <div class="box w-[362px] bg-[#F7F9FB] p-5">
                <div class="flex gap-3">
                    <div class="bg-[#DBE6F0] w-[50px] h-[50px] rounded">
                    </div>
                    <div>
                        <p class="title">John Smith</p>
                        <p class="subtitle text-[#BDC8D0]">CEO Company</p>
                    </div>
                </div>
                <p class="mt-4">
                    End-to-end blockchain solutions, encompassing consultation, design, and implementation.
                </p>
            </div>
            <div class="box w-[362px] bg-[#F7F9FB] p-5">
                <div class="flex gap-3">
                    <div class="bg-[#DBE6F0] w-[50px] h-[50px] rounded">
                    </div>
                    <div>
                        <p class="title">John Smith</p>
                        <p class="subtitle text-[#BDC8D0]">CEO Company</p>
                    </div>
                </div>
                <p class="mt-4">
                    End-to-end blockchain solutions, encompassing consultation, design, and implementation.
                </p>
            </div>
            <div class="box w-[362px] bg-[#F7F9FB] p-5">
                <div class="flex gap-3">
                    <div class="bg-[#DBE6F0] w-[50px] h-[50px] rounded">
                    </div>
                    <div>
                        <p class="title">John Smith</p>
                        <p class="subtitle text-[#BDC8D0]">CEO Company</p>
                    </div>
                </div>
                <p class="mt-4">
                    End-to-end blockchain solutions, encompassing consultation, design, and implementation.
                </p>
            </div>
        </div>
    </section> -->

  <section
    class="sm:container mt-24 xl:w-[1122px] md:w-[750px] sm:mx-auto mx-5 xl:translate-y-[20px]"
    #frameContactContainer
  >
    <div
      class="contact flex justify-between border border-[#E7E7E7] rounded-lg xl:max-h-[300px] max-h-[340px] bg-matrix"
    >
      <div class="md:p-8 p-4">
        <p class="text-sm text-[#0C8CE9] font-bold">LET'S DO IT</p>
        <p class="text-[32px] font-bold md:block hidden">
          What are you waiting for ?
        </p>
        <p class="text-[32px] font-bold md:hidden">What are you</p>
        <p class="text-[32px] font-bold md:hidden line-normal">waiting for ?</p>
        <p class="mt-2 line-normal">
          Book a call now and let's bring your
          <br />
          business to life
        </p>
        <div class="buttons flex gap-5 mt-16">
          <a href="https://calendly.com/edy-xio" target="_blank">
            <button
              class="rounded-3xl bg-[#0C8CE9] text-white w-[150px] h-[50px] font-medium ripple"
            >
              Book a Call
            </button>
          </a>

          <a href="mailto:edy@orcania.io">
            <button
              class="rounded-3xl border-2 bg-white border-[#E7E7E7] w-[150px] h-[50px] font-semibold ripple"
            >
              Contact Us
            </button>
          </a>
        </div>
      </div>
      <div class="translate translate-x-[55px] sm:block hidden">
        <img class="xl:w-auto lg:00px] xl:mr-20 xl:mt-16 mt-20 -ml-16 " src="/assets/Calendar2.png" />
      </div>
    </div>
  </section>
</div>
